PORT=8000

DB_SERVER=localhost
DB_NAME=money_transfer
DB_USER=sa
DB_PASSWORD=Password123

JWT_SECRET=your_jwt_secret

REDIS_URL=redis://localhost:6379

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password